*::after, *::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1{
    text-align: center;
}

input, button{
    width: auto;
    border-radius: 8px;
    padding: 4px;
}

button{
    background-color: brown;
    color: white;
}

#titulo{
    width: 150px;
    height: 150px;
}