@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeue-webfont.woff') format('woff'),
		url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
		url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* CSS reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

/* input{
	border:1px solid #b0b0b0;
	padding: 3px 5px 4px;
	color: #979797;
	width: 190px;
} 
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/***** Estilos generales *****/
:root {
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 13px;
	line-height: 1.6rem;
	font-weight: 400;
	--fuente-titulos: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	--fuente-texto: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	--color-primario: rgba(27, 54, 81, 0.8);
}

body {
	background: #fbf8f4 url(../images/bg.jpg) repeat top left;
	color: #aa3e03;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
}

a {
	color: #333;
	text-decoration: none;
}

/* body{
	text-align: center;
} */

/******* Estilos de Cabecera **********/
body>header {
	width: 100%;
	text-align: center;
	margin: 2rem 0;
}

body>header h1 {
	font-family: var(--fuente-titulos);
	font-size: 3rem;
	line-height: 2.5rem;
	font-weight: 400;
	color: rgba(27, 54, 81, 0.8);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 0px 0px 5px 0px;
}

body>header h1 span {
	color: #c7957b;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

body>header h2,
p.info {
	font-size: 1.3rem;
	font-style: italic;
	color: #4a3124;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

main {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

/******* Estilos del pié *****/
footer {
	text-align: center;
	font-size: 0.9rem;
}

/* Media Queries */
@media screen and (min-width: 767px) {
	:root {
		font-size: 15px;
	}

}