@import url("./base_style.css");

/****** Estilos del album ******/

.album {
	max-width: 920px;
	width: 90%;
	margin: 0 auto;
}

.album li {
	padding: 0.625rem;
}

.album li>a,
.album li>a img {
	display: block;
}

.album li>a {
	width: 100%;
	height: 100%;
	padding: .5rem;
	background: #f1d2c2;
	-webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
	-moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}

/* Efectos del texto sobre la imagen */
.album li>a span {
	width: 160px;
	height: 160px;
	position: absolute;
	top: 10px;
	left: 10px;
	line-height: 150px;
	color: var(--color-primario);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
	font-size: 24px;
	opacity: 0;

	background: rgb(241, 210, 194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgba(241, 210, 194, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, rgba(241, 210, 194, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgba(241, 210, 194, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgba(241, 210, 194, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgba(241, 210, 194, 1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgba(241, 210, 194, 1) 100%);
	/* transición linear de .3s */
}

/* efecto al pasar sobre el enlace, hace aparecer el texto que está sobre el */
.album li>a:hover span {}

/******************* Estilo de la ventana emergente *********************/
.lb-emergente {
	width: 0px;
	/* no tiene ancho ni alto, por eso no se puede ver*/
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;

}

.lb-emergente>div.descrip {
	width: auto;
	height: auto;
	padding-top: 1rem;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

.lb-emergente div h3,
.lb-emergente div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}

.lb-emergente div h3 {
	font-size: 2rem;
	text-align: right;
	width: max-content;
	border-right: 1px solid rgba(27, 54, 81, 0.4);
}

.lb-emergente div h3 span,
.lb-emergente div p {
	font-size: 1rem;
	font-style: italic;
}

.lb-emergente div h3 span {
	display: block;
	line-height: 1.8rem;
}

.lb-emergente div p {
	text-align: left;
	width: 260px;
}

/* boton de cerrar de la ventana emergente */
.lb-emergente a.lb-Cerrar {}


.lb-emergente img {
	max-height: 50vh;
	max-width: 70vw;
	position: relative;
	top: 0;
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
	/* hay una transicíon linear  de 0.5s*/
}

/* estilos de los botones de la ventana emergente para pasar de foto */
.PrevNext {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.lb-prev,
.lb-next {
	/* usamos la opacidad para los efectos del color al pasar sobre los botones */
}

.PrevNext svg {
	width: 33px;
}

.lb-prev:hover,
.lb-next:hover {}

/* efecto al pinchar sobre el enlace que nos lleva a las ventanas emergentes */