@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400;700&display=swap');

:root{
    --azul-palido: hsl(225, 100%, 94%);
    --azul-brillante: hsl(245, 75%, 52%);
    --azul-myu-palido: hsl(225, 100%, 98%);
    --azul-desaturado: hsl(224, 23%, 55%);
    --azul-oscuro: hsl(223, 47%, 23%);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: var(--azul-desaturado);
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 50px;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: var(--azul-myu-palido);
}

.centro img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

h1{
    text-align: center;
}

.centro p{
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.compra p{
    color: var(--azul-desaturado);
}

.tarifa p{
    width: 100px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0;
}

.tarifa p span{
    font-weight: normal;
    font-size: 1rem;
}

.tarifa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--azul-myu-palido);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.tarifa a:hover{
    text-decoration: none;
}

.botones{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.botones button:nth-of-type(1){
    width: 200px;
    background-color: var(--azul-brillante);
    border-radius: 5px;
    padding: 10px;
    color: var(--azul-palido);
    border-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 5px 5px 15px gray;
}

.botones button:nth-of-type(2){
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--azul-desaturado);
}

.botones button:nth-of-type(1):hover{
    background-color: var(--azul-desaturado);
}

.botones button:nth-of-type(2):hover{
    color: var(--azul-oscuro);
}



footer{
    width: 100vw;
    height: 50px;
}

.autor{
    font-size: .8rem;
}

@media (max-width: 375px){
    .centro{
        width: 250px;
    }

    .botones{
        width: min-content;
    }
}